@{
    ViewBag.Title = "学生界面";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string nowUserId = string.Empty;
    if (Session["NowUserId"] != null)
    {
        nowUserId = Session["NowUserId"].ToString();
    }
}

<div class="page-header">
    <h1 class="text-center">BIMS<small>@ViewBag.Title</small></h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span>&nbsp;账户管理</h3>
            </div>
            <div class="panel-body">
                @Html.ActionLink("查看信息", "Details", "Students", new { id = nowUserId }, new { @class = "btn btn-info btn-block" })
                @Html.ActionLink("修改密码", "Pass", "Home", null, new { @class = "btn btn-info btn-block" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-tasks"></span>&nbsp;数据查询</h3>
            </div>
            <div class="panel-body">
                @Html.ActionLink("健康数据", "Index", "HealthInfoes", new { id = nowUserId }, new { @class = "btn btn-success btn-block" })
            </div>
        </div>
    </div>
</div>