@{
    ViewBag.Title = "主页";
}

<div class="jumbotron">
    <h1>健康数据管理系统</h1>
    <p class="lead">学生，老师，管理员有不同的管理权限，管理员可以设定至少要什么权限才能修改资料</p>
    <p>@Html.ActionLink("现在登录", "Login", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>